<div class="containter m-3 text-center mx-0">
  <h1>Mi perfil</h1>
  <div class="card mx-auto" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title m-3">Cargá la siguiente documentación</h5>
      <form
        id="profile_photo_form"
        action="/api/users/{{this.userId}}/documents"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="mb-3 mx-5">
          <label class="form-label" for="identificacion">Identificación:</label>
          <input
            class="form-control"
            type="file"
            id="identificacion"
            name="identificacion"
          />
        </div>
        <div class="mb-3 mx-5">
          <label class="form-label" for="domicilio">Comprobante de domicilio:</label>
          <input class="form-control" type="file" name="domicilio" id="domicilio" />
        </div>
        <div class="mb-3 mx-5">
          <label class="form-label" for="estadoCuenta">Comprobante estado de cuenta:</label>
          <input class="form-control" type="file" name="estadoCuenta" id="estadoCuenta" />
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
      </form>
    </div>
  </div>
</div>